node_modules/

# local .env* files
.env.*.local

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.env.secret
megalinter-reports/
demo/dist

.DS_Store
dist/

.claude/hooks/capture-decisions.log
